/*COLOR DEL HOVER DE BARRA DE NAVEGACIÓN*/

$colorHoverMenu: #e09d0a;

/*COLOR DEL H1 DE TODAS LAS HTML Y DE LOS H4 DE ASTROTURISMO.HTML*/
$colorH1H4: #e09d0a;

/*COLOR DE TEXTO UTILIZADO EN FOOTER Y ASTROTURISMO.HTML*/
$colorTexto: #ffffff;

/*VARIABLES UTILIZADAS EN ASTROTURISMO.HTML */
$backgroundAstro: #091d5c;

$colorHoverAstro: #8fd7e9;

/*BACKGROUND DE LOS TEXTOS DE INDEX.HTML, CAMINATAS.HTML E INFORMACIONGRAL.HTML*/
$backTexto1: #ebd096;

$backTexto2: #b0c263;

$backTexto3:  #ffffff;

/*COLOR AZUL UTILIZADO PARA TEXTO, BORDE Y BOTONES EN CONTACTO.HTML*/
$colorForm:  #143572;

/* BACKGROUND-COLOR DEL FOOTER EN TODAS LAS HTML*/
$backFooter: #143064;